<div class="card mt-4 mb-4 mx-4     ">
    <div class="card-body">
        This is some text within a card body.
    </div>
</div>


<div class="text-center">
    <div class="mb-3 mx-auto" style="max-width: 600px;">
        <label for="exampleFormControlInput1" class="form-label">Fecha de consulta</label>
        <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Fecha de la consulta">
    </div>
    <div class="mb-3 mx-auto" style="max-width: 600px;">
        <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>
</div>

<div class="text-center mb-5 d-flex justify-content-center">
    <div class="me-2">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
    <div>
        <button type="button" class="btn btn-primary"
            onclick="window.location.href = '/presentar_mascota';">Volver</button>
    </div>
</div>