<h1 class="text-center mt-4 mb-4 text-primary">Solvitec</h1>
<div class="p-3 mb-2 bg-warning bg-gradient ">
    <ul class="nav justify-content-center text-dark">
        <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/archivos">Archivos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cita">Citas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cita">Cerrar sesión</a>
        </li>
    </ul>
</div>