/* Estilo para aumentar el tamaño del nav */

.nav {
    font-size: 180px;
    /* Tamaño de fuente más grande */
    padding: 20px 0;
    /* Aumenta el espacio entre elementos */
    background-color: black;
    background: yellow;
}