.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Asegura que el sidebar esté por encima del contenido */
    padding: 48px 0;
    /* Ajusta el espacio superior e inferior */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Agrega una sombra */
}


/* Estilo para los elementos del sidebar */

.sidebar-item {
    padding: 8px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* Línea divisoria entre elementos */
}