.user {
    border: 1px solid #000000;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 20px;
    overflow: auto;
    /* Agrega una barra de desplazamiento */
    max-height: 400px;
    /* Establece una altura máxima */
}

.user-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 20px;
}

.user-container {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px;
}

.user-container h3 {
    margin-top: 0;
    color: #333;
}

.user-container p {
    margin: 5px 0;
    color: #666;
}

a {
    text-decoration: none;
}